<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update the product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for product, data: {turbo: false} do |f| %>
            <%= f.input :name, as: :string, required: false %>
            <%= f.input :description, as: :string, required: false %>
            <%= f.input :price, as: :integer, required: false %>
            <%= f.input :photos, as: :file, required: false %>
        <p class="text-center"><%= f.submit class: "btn btn-secondary", value:"Update product info" %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
