      <div class="modal fade" id="updatemeasuremodal" tabindex="-1" aria-labelledby="measuresLabel" aria-hidden="true">

        <div class="modal-dialog">

          <div class="modal-content">

            <div class="modal-header">

              <h5 class="modal-title" id="measuresLabel">MODIFY YOUR SIZE (OPTIONAL) </h5>

              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>

            <div class="modal-body">


            <% @transactions.each do |transaction| %>
             <div class="d-flex justify-content-center">
              <% if transaction.product.photos.any? %>

                <img class="form-image" <%= cl_image_tag transaction.product.photos.first.key %> >
                <% else %>
                <% end %>
             </div>
            <% end %>

              <div class="row mb-3">

                <%= simple_form_for(current_user, data: {turbo: false}) do |f| %>

                  <%= f.input :height, placeholder: 'ex: 165cm' %>

                  <%= f.input :chest, placeholder: 'ex: 36C'%>

                  <%= f.input :waist,placeholder: 'ex: 70cm' %>

                  <%= f.input :hip, placeholder: 'ex: 95cm' %>

                  <%= f.submit "Update", name: "update" %>
                <% end %>
              </div>

            </div>

          </div>

        </div>

      </div>
