<main class="container">
  <div id="centered-content">
    <h1 class="my-4">DISCOVER NEW ITEMS </h1>
  </div>

  <div class="row">
    <% @new.each do |product| %>
      <div class="col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <%= link_to product_path(product) do %>
            <%= cl_image_tag product.photos.first.key, alt:product.name, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <br>
            <p class="card-text"><%= product.price %> &euro;</p>
            <p class="card-text"><%= link_to "Add to Cart", product_path(product), class:"btn btn-index" %></p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</main>

<main class="container">
  <div id="centered-content">
    <h1 class="my-4">DISCOVER SECOND HAND ITEMS </h1>
  </div>

  <div class="row">
    <% @vintage.each do |product| %>
      <div class="col-md-4 col-lg-3 mb-4">
        <div class="card h-100">
          <%= link_to product_path(product) do %>
            <%= cl_image_tag product.photos.first.key, alt:product.name, class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <br>
            <p class="card-text"><%= product.price %> &euro;</p>
            <p class="card-text"><%= link_to "Add to Cart", product_path(product), class:"btn btn-index" %></p>

          </div>
        </div>
      </div>
    <% end %>

  </div>

<%= render 'shared/footer' %>
</main>
